@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black;
  }

  :is(.dark body) {
    @apply bg-slate-950 text-slate-50;
  }

  a {
    font-weight: 500;
    text-decoration: inherit;
  }

  a:hover {
    opacity: 0.8;
  }
}
