@import "tailwindcss";

body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-slate-950 text-slate-50;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  opacity: 0.8;
}
